.doctors{
    align-items: center;
    height: 75vh;
}
@media only screen and (max-width:688px) {
    .doctors{
        height: 100%;
    }
    
}
.doctor{
    transition: 0.5s all;
}
.doctor:hover{
    box-shadow: rgb(182, 106, 119) 0px 3px 8px;
}