.header{
    background-image: url('https://png.pngtree.com/background/20210714/original/pngtree-vector-design-background-medical-instruments-for-vaccine-picture-image_1204718.jpg');
    position: sticky;
    height: 500px;
}